.image__gallery {
  display: flex;
  justify-content: space-between;
}

.image__item {
  width: 33%;
  margin-right: 25px;
}

.image__item:last-child {
  margin-right: 0;
}
.photo__text {
  color: #656565;
  margin-bottom: 40px;
}

.photo__next-btn {
  margin-top: 20px;
}